$color-blue-100: #091440;
$color-blue-300: #1b41b3;
$color-blue-500: #2970ff;
$color-blue-700: #4a92ff;
$color-blue-900: #66a9ff;

$color-green-100: #075136;
$color-green-300: #17996e;
$color-green-500: #2dd8a3;
$color-green-700: #4eeab6;
$color-green-900: #73f9c9;

$color-orange-100: #915d09;
$color-orange-300: #cc8912;
$color-orange-500: #ffb624;
$color-orange-700: #ffc84e;
$color-orange-900: #ffe4a7;

$color-gray-200: #3d5873;
$color-gray-400: #596d81;
$color-gray-600: #8997a5;
$color-gray-800: #c4cbd2;

$color-purple: #7871ff;
$color-neon-blue: #70cbff;
$color-red: #ff3329;
$color-pink: #ff9b89;
$color-neon-green: #ceff69;
$color-green: #41be53;
